<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <EnvironmentVariables>
        <UseRegTestUri>true</UseRegTestUri>
        <DelayForProdApiMs>1000</DelayForProdApiMs>
        <PublicKey></PublicKey>
        <Message></Message>
        <Signature></Signature>
    </EnvironmentVariables>
</RunSettings>
